@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");


.App {
    background-color: #0d1423;
    min-height: 100vh;
    overflow-y:auto;
    font-family: "Montserrat", sans-serif;;

  }
  
  .App header {
    background: #1c2a4d;
    color:white
  }
  
  .App__header {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    text-transform: uppercase;
  }
  
  .App__switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }
  
  .App__switcher-switch {
    margin: 0 0.25rem;
  }
  